body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Dark grey text */

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

main {
    flex: 1; /* Ensures main content takes up remaining space */
}

header {
    width: 100%;
    background-color: #f8f8f8;
    padding: 0.5em 0;
    border-bottom: 1px solid #eaeaea;
}

nav {
    display: flex;
    justify-content: center; /* Centers the nav links */
    align-items: center; /* Centers the nav links vertically */
    flex-wrap: wrap; /* Wraps the nav links to the next line on small screens */
    gap: 20px; /* Spaces out the nav links */
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #0056b3;
    padding: 0.5em 1em; /* Padding around the links for clickability */
    transition: color 0.3s ease;
}

.profile-photo {
    width: 150px; /* Adjust for your image */
    border-radius: 50%;
    margin: 1em auto; /* Center the image */
}

.profile-section h2 {
    margin: 0.5em 0;
}

.location {
    font-size: 1rem;
    margin-bottom: 1em;
}

.social-links {
    margin-bottom: 2em;
}

.social-links a.icon {
    display: inline-block;
    margin: 0 7px;
}

.social-links img {
    width: 24px;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    flex: 1; /* Takes up remaining space */
}

.left-column {
    flex: 0 0 250px;
}

.right-column {
    flex: 1;
    max-width: 800px;
    text-align: left;
}

footer {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
  
    .left-column, .right-column {
        max-width: 100%;
        text-align: center;
    }
}

nav a, #welcome a {
    text-decoration: none; /* Removes underline from all links in nav and welcome section */
    color: #1a0dab; /* This is the default blue color for hyperlinks; change as needed */
}
