body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f8f8; /* Adjust header background as needed */
    padding: 1em 0;
}

nav {
    text-align: center;
    margin-bottom: 1em;
}

nav a {
    text-decoration: none;
    color: #333; /* Adjust link color as needed */
    padding: 0 1em;
    font-weight: 700; /* Makes the text bold */
}


.profile-photo {
    width: 200px; /* Adjust as needed */
    border-radius: 50%; /* Creates a circular photo */
    margin-bottom: 1em;
}

.profile-section h2 {
    margin: 0.5em 0;
}

.location {
    font-size: 1rem;
    margin-bottom: 1em;
}

.social-links {
    margin-bottom: 2em;
}

.social-links a.icon {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 24px; /* Adjust icon size as needed */
    height: auto;
}


/* Style your footer here */
footer {
    background-color: #f8f8f8; /* Adjust footer background as needed */
    padding: 1em 0;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .profile-section {
    flex: 1;
    max-width: 300px;
    margin-top: 20px;
    text-align: center;
  }
  
  #welcome {
    flex: 3;
    margin-top: 20px;
    max-width: calc(100% - 320px); /* Adjust based on the profile-section width */
    text-align: left;
  }
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      align-items: center;
    }
  
    .profile-section, #welcome {
      max-width: 100%;
      text-align: center;
    }
  
    #welcome {
      margin-top: 10px;
    }
  }